@import url("./navigation.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --header-footer: #BCF7FF;
    --fundo: #EAF7FF;
    --branco: #fff;
    --botao-fundo: #8FF2FF;