@import url("./header.css");
@import url("./navigation.css");
@import url("./buttons.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Inter", sans-serif;
}

main{
    background: #EAF7FF;

}