.navbar {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    
}

.nav__list{
    list-style-type: none;
}
.nav__list .__list_item {
    display: inline-block;
    padding: 20px 10px;
    text-decoration: none;
       
}